@{
    ViewData["Title"] = "Cart";
}
@model List<Cart>

@if (TempData["Success"] != null)
{
    <br>


    <div id="alert" class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <strong>@TempData["Success"]</strong>
                </div>
            </div>
        </div>
    </div> 
      
}
              <div class="col-sm-12 pt-2">
                <div class="card">
            @{
    var totalPrice = Model?.Sum(p => p.TotalPrice) ?? 0;
        var formattedTotalPrice = totalPrice.ToString("C2", new System.Globalization.CultureInfo("tr-TR"));

}

                  <h3 class="pt-2 px-3">Toplam Sepet Tutarı: @formattedTotalPrice</h3>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="display" id="basic-1">
                        <thead>
                          <tr>
                            <th>Resim</th>
                            <th>Ürün Adı</th>
                          
                            <th>Adet Fiyat</th>
                            <th>Toplam Fiyat</th>
                            <th>Kullanıcı</th>
                            <th>Eklenen Adet</th>
                            <th>Eklenme Tarihi</th>
                            @* <th>Aksiyon</th> *@
                          </tr>
                        </thead>
                        <tbody>
                          @foreach (var get in Model)
                          {
                          <tr>
                            <td><img src="@get.ImageUrl" width="60" alt="@get.ImageUrl" srcset="@get.ImageUrl"></td>
                            <td>@get.ProductName</td>
                            

                            <td>@get.Price</td>
                               <td>@Convert.ToDecimal(get.Price * get.Quantity) TL</td> 
                            <td>@get.UserName</td>
                            <td>@get.Quantity</td>
                   
                            <td>@get.Create_At</td>
                            @* <td> 
                              <ul class="action"> 
                                <li class="edit"> <a asp-action="Updateget" asp-route-id="@get.Id"><i class="icon-pencil-alt"></i></a></li>
                                <li class="delete"><a asp-action="Deleteget" asp-route-id="@get.Id" ><i class="icon-trash"></i></a></li>
                              </ul>
                            </td> *@
                          </tr>
                            
                          }


                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>