@{
    ViewData["Title"] = "Pruducts";
}
@model List<Product>
@if (TempData["Success"] != null)
{
    <br>


    <div id="alert" class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <strong>@TempData["Success"]</strong>
                </div>
            </div>
        </div>
    </div> 
      
}
              <div class="col-sm-12 pt-2">
                <div class="card">
 
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="display" id="basic-1">
                        <thead>
                          <tr>
                            <th>Resim</th>
                            <th>Ürün Adı</th>
                            <th>Fiyat</th>
                            <th>Kullanıcı</th>
                            <th>Kargo</th>
                            <th>Yayınlanma Tarihi</th>
                            <th>Aksiyon</th>
                          </tr>
                        </thead>
                        <tbody>
                          @foreach (var product in Model)
                          {
                          <tr>
                            <td><img src="@product.ImageUrl" width="60" alt="@product.ImageUrl" srcset="@product.ImageUrl"></td>
                            <td>@product.Name</td>
                            <td>@product.Price</td>
                            <td>@product.UserName</td>
                            <td>@product.Cargo</td>
                            <td>@product.Create_At</td>
                            <td> 
                              <ul class="action"> 
                                <li class="add"> <a asp-action="CartAdd" class="btn btn-outline-secondary mx-3" asp-route-id="@product.Id"> Sepete Ekle<i class="icon-pencil-alt mx-1"></i></a></li>
                                <li class="edit"> <a asp-action="UpdateProduct" asp-route-id="@product.Id"><i class="icon-pencil-alt"></i></a></li>
                                <li class="delete"><a asp-action="DeleteProduct" asp-route-id="@product.Id" ><i class="icon-trash"></i></a></li>

                              </ul>
                            </td>
                          </tr>
                            
                          }


                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
          


    <!-- Plugins JS start-->


    <!-- Plugins JS Ends-->
    <!-- Theme js-->

<script>
        setTimeout(function() {
            document.getElementById('alert').style.display = "none";
        }, 3000); // 5000 milisaniye = 5 saniye
    
</script>
