@{
    ViewData["Title"] = "RoleManage";
}

@using Microsoft.AspNetCore.Identity

@if (TempData["Success"] != null)
{
    <br>


    <div id="alert" class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <strong>@TempData["Success"]</strong>
                </div>
            </div>
        </div>
    </div> 
      
}
              <div class="col-sm-12 pt-2">
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                          <H2 class="mt-4 mx-3">Rol Listesi</H2>
                        </div>
                <div class="col-md-4 d-flex justify-content-end align-items-end mt-4 px-5">
                    <a asp-action="RoleAdd" class="btn btn-outline-success text-end">Role Ekle</a>
                </div>
                    </div>
                 

                    
 
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="display" id="basic-1">
                        <thead>
                          <tr>
                            <th>Role Id</th>
                            <th>Rolü</th>

                            <th>Aksiyon</th>
                          </tr>
                        </thead>
                        <tbody>
                          @foreach (var userRole in Model)
                          {
                          <tr>
                            <td>@userRole.Id</td>
                            @* <td><img src="@userRole.ImageUrl" width="60" alt="@userRole.ImageUrl" srcset="@userRole.ImageUrl"></td> *@
                            <td>@userRole.Name</td>
                            
                    
                      

                            <td> 
                              <ul class="action"> 
                                <li class="edit"> <a asp-action="RoleEdits" asp-route-id="@userRole.Id"><i class="icon-pencil-alt"></i></a></li>
                                <li class="delete"><a asp-action="RoleDelete" asp-route-id="@userRole.Id" ><i class="icon-trash"></i></a></li>

                              </ul>
                            </td>
                          </tr>
                            
                          }


                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
          


    <!-- Plugins JS start-->


    <!-- Plugins JS Ends-->
    <!-- Theme js-->

<script>
        setTimeout(function() {
            document.getElementById('alert').style.display = "none";
        }, 3000); // 5000 milisaniye = 5 saniye
    
</script>
