@{
  ViewData["Title"] = "Details";
  var totalPrice = Model?.Price ?? 0;
  var formattedTotalPrice = totalPrice.ToString("C2", new System.Globalization.CultureInfo("tr-TR"));  
}

@model Product

<div>
    
</div>


<!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row ec_breadcrumb_inner">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="ec-breadcrumb-title">Ürün Detayları</h2>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- ec-breadcrumb-list start -->
                            <ul class="ec-breadcrumb-list">
                                <li class="ec-breadcrumb-item"><a href="/Shop">Mağaza</a></li>
                                <li class="ec-breadcrumb-item active">Ürün Adı : @Model.Name</li>
                            </ul>
                            <!-- ec-breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- Sart Single product -->
    <section class="ec-page-content section-space-p">
        <div class="container">
            <div id="uyarı"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
>
 
</div>
            <div class="row">
                <div class="ec-pro-rightside ec-common-rightside col-lg-12 col-md-12">

                    <!-- Single product content Start -->
                    <div class="single-pro-block">
                        <div class="single-pro-inner">
                            <div class="row">
                                <div class="single-pro-img single-pro-img-no-sidebar">
                                    <div class="single-product-scroll">
                                        <div class="single-product-cover">
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="@Model.ImageUrl"
                                                    alt="">
                                            </div>
                                            @* <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="~/assets/images/product-360/1_2.jpg"
                                                    alt="">
                                            </div>
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="~/assets/images/product-360/1_3.jpg"
                                                    alt="">
                                            </div>
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="~/assets/images/product-360/1_4.jpg"
                                                    alt="">
                                            </div>
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="~/assets/images/product-360/1_5.jpg"
                                                    alt="">
                                            </div> *@
                                        </div>
                                        <div class="single-nav-thumb">
                                            <div class="single-slide">
                                                <img class="img-responsive" src="@Model.ImageUrl"
                                                    alt="">
                                            </div>
                                            @* <div class="single-slide">
                                                <img class="img-responsive" src="~/assets/images/product-360/1_2.jpg"
                                                    alt="">
                                            </div>
                                            <div class="single-slide">
                                                <img class="img-responsive" src="~/assets/images/product-360/1_3.jpg"
                                                    alt="">
                                            </div>
                                            <div class="single-slide">
                                                <img class="img-responsive" src="~/assets/images/product-360/1_4.jpg"
                                                    alt="">
                                            </div>
                                            <div class="single-slide">
                                                <img class="img-responsive" src="~/assets/images/product-360/1_5.jpg"
                                                    alt="">
                                            </div> *@
                                        </div>
                                    </div>
                                </div>
                                <div class="single-pro-desc single-pro-desc-no-sidebar">
                                    <div class="single-pro-content">
                                        <h5 id="ProductName" class="ec-single-title">@Model.Name</h5>
                                        <div class="ec-single-rating-wrap">
                                            <div class="ec-single-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star-o"></i>
                                            </div>
                                            @* <span class="ec-read-review"><a href="#ec-spt-nav-review">Be the first to
                                                    review this product</a></span> *@
                                        </div>
                                        @* <div class="ec-single-desc">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1990</div> *@

                                        @* <div class="ec-single-sales">
                                            <div class="ec-single-sales-inner">
                                                <div class="ec-single-sales-title">sales accelerators</div>
                                                <div class="ec-single-sales-visitor">Canlı Olarak <span>12</span> Kişi
                                                    İnceliyor </div>
                                                <div class="ec-single-sales-progress">
                                                    <span class="ec-single-progress-desc">Stokta Son 29 Ürün</span>
                                                    <span class="ec-single-progressbar"></span>
                                                </div>
                                                <div class="ec-single-sales-countdown">
                                                    <div class="ec-single-countdown"><span
                                                            id="ec-single-countdown"></span></div>
                                                    <div class="ec-single-count-desc">Time is Running Out!</div>
                                                </div>
                                            </div>
                                        </div> *@
                                        <div class="ec-single-price-stoke">
                                            <div class="ec-single-price">
                                                <span class="ec-single-ps-title">Fiyat</span>
                                                <span class="new-price"> @formattedTotalPrice TL</span>
                                            </div>
                                            <div class="ec-single-stoke">
                                                <span class="ec-single-ps-title">Stokta</span>
                                                <span class="ec-single-sku">SKU#: WH12</span>
                                            </div>
                                        </div>
                                        <div class="ec-pro-variation">
                                            <div class="ec-pro-variation-inner ec-pro-variation-size">
                                                <span>Boyut</span>
                                                <div class="ec-pro-variation-content">
                                                    <ul>
                                                        <li class="active"><span>7</span></li>
                                                        <li><span>8</span></li>
                                                        <li><span>9</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="ec-pro-variation-inner ec-pro-variation-color">
                                                <span>Renk Seçenekleri</span>
                                                <div class="ec-pro-variation-content">
                                                    <ul>
                                                        <li class="active"><span
                                                                style="background-color:#23839c;"></span></li>
                                                        <li><span style="background-color:#000;"></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ec-single-qty">
                                            <div class="qty-plus-minus">
                                                <input class="qty-input" id="count" type="text" name="ec_qtybtn" value="1" />
                                            </div>
                                            <div class="ec-single-cart ">
                                                <button onclick="ekle()" class="btn btn-primary">Sepete Ekle</button>
                                            </div>
                                            <div class="ec-single-wishlist">
                                                <a class="ec-btn-group wishlist"id="heart"  onclick="heart()" title="Wishlist"><img  
                                                        src="~/assets/images/icons/wishlist.svg" id="like" class="svg_img pro_svg"
                                                        alt="" /></a>
                                            </div>
                                            <div class="ec-single-quickview">
                                                <a href="#"  class="ec-btn-group quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#ec_quickview_modal"><img
                                                        src="~/assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                        alt="" /></a>
                                            </div>
                                        </div>
                                                    <script>
                                                        const heart = () => {
                                                            const heart = document.getElementById("heart");
                                                            const like = document.getElementById("like");


                                                            if (heart.style.backgroundColor === "red") {
                                                                heart.style.backgroundColor = "white";
                                                                like.style.fill = "black";
                                                            } else {
                                                                heart.style.backgroundColor = "red";
                                                                like.style.fill = "white";
                                                            }
                                                        }
                                                    </script>
                                        <div class="ec-single-social">
                                            <ul class="mb-0">
                                                <li class="list-inline-item facebook"><a href="#"><i
                                                            class="ecicon eci-facebook"></i></a></li>
                                                <li class="list-inline-item twitter"><a href="#"><i
                                                            class="ecicon eci-twitter"></i></a></li>
                                                <li class="list-inline-item instagram"><a href="#"><i
                                                            class="ecicon eci-instagram"></i></a></li>
                                                <li class="list-inline-item youtube-play"><a href="#"><i
                                                            class="ecicon eci-youtube-play"></i></a></li>
                                                <li class="list-inline-item behance"><a href="#"><i
                                                            class="ecicon eci-behance"></i></a></li>
                                                <li class="list-inline-item whatsapp"><a href="#"><i
                                                            class="ecicon eci-whatsapp"></i></a></li>
                                                <li class="list-inline-item plus"><a href="#"><i
                                                            class="ecicon eci-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Single product content End -->
                    <!-- Single product tab start -->
     <div class="ec-single-pro-tab">
    <div class="ec-single-pro-tab-wrapper">
        <div class="ec-single-pro-tab-nav">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#ec-spt-nav-details"
                        role="tablist">Detay</a>
                </li>
                @* <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#ec-spt-nav-info"
                        role="tablist">Daha Fazla Bilgi</a>
                </li> *@
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#ec-spt-nav-review"
                        role="tablist">Yorumlar</a>
                </li>
            </ul>
        </div>
        <div class="tab-content ec-single-pro-tab-content">
            <div id="ec-spt-nav-details" class="tab-pane fade show active">
                <div class="ec-single-pro-tab-desc">
                    @Model.Description

                </div>
            </div>
            @* <div id="ec-spt-nav-info" class="tab-pane fade">
                <div class="ec-single-pro-tab-moreinfo">
                    <ul>
         
                    </ul>
                </div>
            </div> *@

            <div id="ec-spt-nav-review" class="tab-pane fade">
                <div class="row">
                    <div class="ec-t-review-wrapper">
                        <div class="ec-t-review-item">
                            <div class="ec-t-review-avtar">
                                <img src="~/assets/images/review-image/1.jpg" alt="" />
                            </div>
                            <div class="ec-t-review-content">
                                <div class="ec-t-review-top">
                                    <div class="ec-t-review-name">Jeny Doe</div>
                                    <div class="ec-t-review-rating">
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star-o"></i>
                                    </div>
                                </div>
                                <div class="ec-t-review-bottom">
                                    <p>Lorem Ipsum, matbaacılık ve dizgi endüstrisinin sahte metnidir. Lorem Ipsum,
                                        1500'lerden beri endüstrinin standart sahte metni olmuştur. Bilinmeyen bir
                                        matbaacı bir dizgi yazıcı aldı ve bir yazı örneği oluşturmak için karıştırdı.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="ec-t-review-item">
                            <div class="ec-t-review-avtar">
                                <img src="~/assets/images/review-image/2.jpg" alt="" />
                            </div>
                            <div class="ec-t-review-content">
                                <div class="ec-t-review-top">
                                    <div class="ec-t-review-name">Linda Morgus</div>
                                    <div class="ec-t-review-rating">
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star-o"></i>
                                        <i class="ecicon eci-star-o"></i>
                                    </div>
                                </div>
                                <div class="ec-t-review-bottom">
                                    <p>Lorem Ipsum, matbaacılık ve dizgi endüstrisinin sahte metnidir. Lorem Ipsum,
                                        1500'lerden beri endüstrinin standart sahte metni olmuştur. Bilinmeyen bir
                       <div id="uyarı">
        

                    <!-- product details description area end -->
                </div>

            </div>
        </div>
    </section>
    <!-- End Single product -->
    <script>
document.getElementById("uyarı").style.display = "none";

var ekle = () => {
    var count = document.getElementById("count");
    var inputValue = count.value;

    // First fetch to add product to cart
    fetch(`http://localhost:5272/api/Cart/@Model.Id`)
        .then(response => response.json())
        .then(data => {
            document.getElementById("uyarı").innerHTML = `${data[0].productName} Adlı Ürün ${data[0].quantity}  Adet Ürün Sepete Eklendi`;
            document.getElementById("uyarı").style.display = "block"; // Show alert
            setTimeout(() => {
                document.getElementById("uyarı").style.display = "none"; // Hide after 5 seconds
            }, 10000);
        })
        .catch(error => console.log(error));

    // Second fetch to add product with quantity
    fetch(`http://localhost:5272/Api/ProductAddCart/@Model.Id/${inputValue}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ quantity: inputValue }) // Send quantity
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Ürün eklenemedi');
        }
        return response.json(); // Return the response data
    })
    .then(data => {
                    document.getElementById("uyarı").innerHTML = ` Ürün Sepete Eklendi`;
            document.getElementById("uyarı").style.display = "block"; // Show alert
            setTimeout(() => {
                document.getElementById("uyarı").style.display = "none"; // Hide after 5 seconds
            }, 5000);

        console.log(data); // Log successful response
    })
    .catch(error => {
        console.error(error);
        alert('Ürün eklenirken bir hata oluştu.'); // Notify user of error
        window.location.href = "/Auth/Login"; // Redirect on error
    });
}
</script>

    <!-- Related Product Start -->
<section class="section ec-releted-product section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">İlgili Ürünler</h2>
                    <h2 class="ec-title">İlgili Ürünler</h2>
                    <p class="sub-title">En İyi Ürün Koleksiyonuna Göz Atın</p>
                </div>
            </div>
        </div>
        <div class="row margin-minus-b-30">
            <!-- İlgili Ürün İçeriği -->
            @foreach (var item in @ViewBag.Products)
            {
                           <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                <div class="ec-product-inner">
                    <a href="">
                    <div class="ec-pro-image-outer">
                        <div class="ec-pro-image">
                            <a href="product-left-sidebar.html" class="image">
                                <img class="main-image" width="300" height="300" src="@item.ImageUrl" alt="Ürün" />
                                <img class="hover-image" width="300" height="300" src="@item.ImageUrl" alt="Ürün" />
                            </a>
                            <span class="percentage">20%</span>
                            <a href="#" class="quickview" data-link-action="quickview" title="Hızlı Bakış"
                                data-bs-toggle="modal" data-bs-target="#ec_quickview_modal"><img
                                    src="~/assets/images/icons/quickview.svg" class="svg_img pro_svg" alt="" /></a>
                            <div class="ec-pro-actions">
                                <a href="compare.html" class="ec-btn-group compare" title="Karşılaştır"><img
                                        src="~/assets/images/icons/compare.svg" class="svg_img pro_svg" alt="" /></a>
                                <button title="Sepete Ekle" class="add-to-cart"><img
                                        src="~/assets/images/icons/cart.svg" class="svg_img pro_svg" alt="" /> Sepete Ekle</button>
                                <a class="ec-btn-group wishlist" title="Favoriler"><img
                                        src="~/assets/images/icons/wishlist.svg" class="svg_img pro_svg" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    </a>

    
                 <div class="ec-pro-content">
                        <h5 class="ec-pro-title"><a asp-action="Details" asp-controller="Shop" asp-route-id="@item.Id" >@item.Name</a></h5>
                        <div class="ec-pro-rating">
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star"></i>
                        </div>
                        @* <div class="ec-pro-list-desc">Lorem Ipsum, matbaacılık ve dizgi endüstrisinin sahte metnidir. Lorem Ipsum, 1500'lerden beri endüstrinin standart sahte metni olmuştur. Bilinmeyen bir matbaacı bir dizgi yazıcı aldı ve bir yazı örneği oluşturmak için karıştırdı.</div> *@
                        <span class="ec-price">
                            @* <span class="old-price">$27.00</span> *@
                            <span class="new-price">@item.Price.ToString("C2", new System.Globalization.CultureInfo("tr-TR"))</span>
                        </span>
                        <div class="ec-pro-option">
                            <div class="ec-pro-color">
                                <span class="ec-pro-opt-label">Renk</span>
                                <ul class="ec-opt-swatch ec-change-img">
                                    <li class="active"><a href="#" class="ec-opt-clr-img"
                                            data-src="~/assets/images/product-image/6_1.jpg"
                                            data-src-hover="~/assets/images/product-image/6_1.jpg"
                                            data-tooltip="Gri"><span
                                                style="background-color:#e8c2ff;"></span></a></li>
                                    <li><a href="#" class="ec-opt-clr-img"
                                            data-src="~/assets/images/product-image/6_2.jpg"
                                            data-src-hover="~/assets/images/product-image/6_2.jpg"
                                            data-tooltip="Turuncu"><span
                                                style="background-color:#9cfdd5;"></span></a></li>
                                </ul>
                            </div>
                            <div class="ec-pro-size">
                                <span class="ec-pro-opt-label">Beden</span>
                                <ul class="ec-opt-size">
                                    <li class="active"><a href="#" class="ec-opt-sz" data-old="$25.00"
                                            data-new="$20.00" data-tooltip="Küçük">S</a></li>
                                    <li><a href="#" class="ec-opt-sz" data-old="$27.00" data-new="$22.00"
                                            data-tooltip="Orta">M</a></li>
                                    <li><a href="#" class="ec-opt-sz" data-old="$35.00" data-new="$30.00"
                                            data-tooltip="Ekstra Büyük">XL</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        
                  
  
                </div>
            </div> 
            }


        </div>
    </div>
</section>


