@using X.Web.PagedList
    <section class="section ec-product-tab section-space-p">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-title-block">
                    <div class="section-title">
                        <h2 class="ec-title">öne Çıkan Ürünler</h2>
                        <h6 class="ec-sub-title">Lorem Ipsum is simply dummy text of the printing</h6>

                    </div>
                </div>

            </div>
            <div class="row m-tb-minus-15">
                <div class="col">
                    <div class="tab-content">
                        <div class="row">
                                @foreach (var pd in Model)
    {

                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 ec-product-content">
                                <div class="ec-product-inner">
                                    <div class="ec-product-hover"></div>
                                    <div class="ec-pro-image-outer">
                                        <div class="ec-pro-image">
                                            <a asp-action="Details" asp-controller="Shop" asp-route-id="@pd.Id" class="image">
                                                <img class="main-image" width="400" height="300" src="@pd.ImageUrl"


                                                    alt="Product" />
                                                <img class="hover-image" width="400" height="300" src="@pd.ImageUrl"
                                                    alt="Product" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ec-pro-content">
                                        <div class="ec-pro-option">
                                            <div class="ec-pro-opt-inner">
                                                <div class="ec-pro-color">
                                                    @* <ul class="ec-opt-swatch ec-change-img">
                                                        <li class="active"><a href="#" class="ec-opt-clr-img"
                                                                data-src="assets/images/product-image/39_1.jpg"
                                                                data-src-hover="assets/images/product-image/39_2.jpg"
                                                                data-tooltip="Gray"><span
                                                                    style="background-color:#ef7ca3;"></span></a></li>
                                                    </ul> *@
                                                </div>
                                                <div class="ec-pro-compare">
                                                    <a href="compare.html" class="ec-btn-group compare"
                                                        title="Compare"><img src="assets/images/icons/compare_5.svg"
                                                            class="svg_img pro_svg" alt="" /></a>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="ec-pro-title"><a asp-action="Details" asp-controller="Shop" asp-route-id="@pd.Id" >@pd.Name</a></h5>
                                        <h6 class="ec-pro-stitle"><a href="">@pd.Category</a></h6>
                                        <div class="ec-pro-rat-price">
                                            <div class="ec-pro-rat-pri-inner">
                                                <span class="ec-price">
                                                    <span class="new-price">$159.00</span>
                                                    <span class="old-price">$200.00</span>
                                                </span>
                                                <span class="ec-pro-rating">
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star-o"></i>
                                                    <i class="ecicon eci-star-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="pro-hidden-block">

                                            <div class="ec-pro-desc">Lorem Ipsum is simply dummy text of the printing.</div>
                                            <div class="ec-pro-actions">
                                                <a class="ec-btn-group wishlist" title="Wishlist"><img
                                                        src="assets/images/icons/pro_wishlist.svg"
                                                        class="svg_img pro_svg" alt="" /></a>
                                            <a asp-action="Details" asp-controller="Shop" asp-route-id="@pd.Id"><button title="Add To Cart" class="add-to-cart btn btn-primary">İncele</button></a>    
                                                <a href="#" class="ec-btn-group quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#ec_quickview_modal"><img
                                                        src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                        alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
    }
<div>

 
</div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
